@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-image: linear-gradient(40deg, red 20%, #ffa600 70%);
  z-index: 1;
  position: inherit;
}
header .main-title {
  height: 300px;
  z-index: 9;
  background: url("../img/logo_200x200.png") no-repeat;
  background-position: 50% 50%;
  transition: height 1s ease;
  border-bottom: 3px solid #6d6d6d;
}
header .main-title.hidden {
  height: 0px;
}
header .main-title-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 30px;
  z-index: 10;
  background-color: #ccc;
  opacity: 0.3;
  font-size: 120%;
  transition: opacity 1s ease;
}
header .main-title-toggle:hover {
  opacity: 1;
}

nav {
  border-bottom: 3px solid #6d6d6d;
}
nav .auth {
  display: flex;
  justify-content: flex-end;
}
nav .auth label {
  margin-right: 10px;
  align-self: center;
  font-weight: 700;
  font-size: 1.1rem;
}
nav .auth .login-form {
  display: none;
}
nav .auth .login-form.active {
  display: flex;
}
nav .auth .logout-form {
  display: none;
}
nav .auth .logout-form.active {
  display: flex;
}
nav .auth .logout-form .introduction {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
nav .auth .logout-form .introduction .introduction--username {
  font-size: 1.5rem;
  margin-left: 10px;
}
nav .auth .check-auto-login {
  margin-right: 15px;
  margin-top: 10px;
}
nav .auth .login-id {
  margin-right: 10px;
}
nav .auth .login-password {
  margin-right: 10px;
}
nav .btn {
  width: 100px;
  height: 35px;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.79);
  margin-right: 5px;
}
nav .btn:hover {
  transform: scale(0.98);
}
nav .btn.btn--primary {
  background: #55a532 linear-gradient(#91dd70, #55a532);
}
nav .btn.btn--signup {
  background: #0677ac linear-gradient(#0da0e4, #0677ac);
}
nav .btn.btn--cancel {
  background: #444444 linear-gradient(#808080, #444444);
}
nav .btn.btn--logout {
  background: #ff9101 linear-gradient(#ff9101, #9b5800);
}

.side-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 100vh;
  position: relative;
  border-left: 3px solid #6d6d6d;
  border-bottom: 3px solid #6d6d6d;
}
.side-bar-container .side-bar {
  width: 100%;
  height: 100%;
  margin: 5px;
  box-sizing: border-box;
  position: inherit;
  font-size: 2rem;
}
.side-bar-container .side-bar.curtain {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.side-bar-container .side-bar .add-new-person {
  position: relative;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  top: 0px;
  margin: 15px 25px;
  padding: 25px 45px;
  box-sizing: border-box;
  border: 5px dashed #000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
}
.side-bar-container .side-bar .add-new-person i.fa-plus-square {
  margin-right: 20px;
}
.side-bar-container .side-bar .add-new-person:hover {
  cursor: pointer;
  top: -10px;
}

footer {
  margin-top: 5px;
}
footer .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .info .card {
  text-align: center;
  font-size: 130%;
  font-weight: 700;
  display: flex;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 5px 15px 5px 0px;
}
footer .info .card .card-layout {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .info .card-title {
  font-size: 32px;
}
footer .info .card-content {
  font-size: 25px;
  font-weight: 300;
  background: linear-gradient(to right, #e5e5e5, #fff);
}
footer #copyright {
  display: block;
  font-size: 1.2em;
  text-align: center;
  border-top: 3px solid #6d6d6d;
  box-sizing: border-box;
  margin-top: 5px;
}

.map-contaier {
  display: flex;
  position: relative;
  width: 70vw;
  height: 100vh;
  border-bottom: 3px solid #6d6d6d;
}
.map-contaier .map {
  width: 100%;
  margin: 5px;
  box-sizing: border-box;
}
.map-contaier .map.curtain {
  visibility: hidden;
}

.logout {
  visibility: hidden;
}

.drag-lock {
  position: absolute;
  right: 20px;
  top: 250px;
  z-index: 1;
  font-size: 120%;
}
.drag-lock .drag-pos {
  transition: 2s;
}

.signup-popup-bg {
  z-index: 100;
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  background: transparent;
  transition: top 0.3s ease-in, background-color 0.7s ease-in;
}
.signup-popup-bg.active {
  position: fixed;
  top: 0%;
  background: #2f2f2f5e;
}
.signup-popup-bg .signup-popup-body {
  display: inline-block;
  position: absolute;
  top: 65%;
  left: 20%;
  width: 60%;
  height: 100%;
  background: #fff;
  box-shadow: 10px 10px 20px #555;
  font-size: 130%;
  font-weight: bold;
}
.signup-popup-bg .signup-popup-body h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
  color: #1100ff;
  border-bottom: 3px solid #6d6d6d;
}
.signup-popup-bg .signup-popup-body form .signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid #6d6d6d;
}
.signup-popup-bg .signup-popup-body form .label-textfields {
  display: flex;
  flex-direction: column;
  height: 78px;
}
.signup-popup-bg .signup-popup-body form .label-textfields p {
  width: 133px;
  margin-bottom: 5px;
}
.signup-popup-bg .signup-popup-body form .textfields {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 78px;
}
.signup-popup-bg .signup-popup-body form .textfields input {
  margin-bottom: 5px;
}
.signup-popup-bg .signup-popup-body .btn {
  margin-top: 15px;
}
.signup-popup-bg .signup-popup-body .btn--signup {
  width: 120px;
  height: 35px;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.79);
  display: inline-block;
}
.signup-popup-bg .signup-popup-body .btn--signup:hover {
  transform: scale(0.98);
}
.signup-popup-bg .signup-popup-body .btn--signup.btn--primary {
  background: #55a532 linear-gradient(#91dd70, #55a532);
}
.signup-popup-bg .signup-popup-body .btn--signup.btn--signup {
  background: #0677ac linear-gradient(#0da0e4, #0677ac);
}
.signup-popup-bg .signup-popup-body .btn--signup.btn--cancel {
  background: #444444 linear-gradient(#808080, #444444);
}
.signup-popup-bg .signup-popup-body .btn--signup.btn--logout {
  background: #ff9101 linear-gradient(#ff9101, #9b5800);
}
.signup-popup-bg .signup-popup-body .btn--cancel {
  width: 120px;
  height: 35px;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.79);
  display: inline-block;
}
.signup-popup-bg .signup-popup-body .btn--cancel:hover {
  transform: scale(0.98);
}
.signup-popup-bg .signup-popup-body .btn--cancel.btn--primary {
  background: #55a532 linear-gradient(#91dd70, #55a532);
}
.signup-popup-bg .signup-popup-body .btn--cancel.btn--signup {
  background: #0677ac linear-gradient(#0da0e4, #0677ac);
}
.signup-popup-bg .signup-popup-body .btn--cancel.btn--cancel {
  background: #444444 linear-gradient(#808080, #444444);
}
.signup-popup-bg .signup-popup-body .btn--cancel.btn--logout {
  background: #ff9101 linear-gradient(#ff9101, #9b5800);
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

#app {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
