@import "../etc/cfg";

.map-contaier {
  display: flex;
  position: relative;
  width: 70vw;
  height: 100vh;

  @include put-line-separator(bottom);

  .map {
    width: 100%;

    margin: 5px;
    box-sizing: border-box;
  }

  .map.curtain {
    visibility: hidden;
  }
}

.logout {
  visibility: hidden;
}
