@import "../etc/cfg";

.drag-lock {
  position: absolute;
  right: 20px;

  top: 250px;
  z-index: 1;
  font-size: 120%;
  visibility: visible;

  .drag-pos {
    transition: 2s;
  }

  &.curtain {
    visibility: hidden;
  }
}
