@import "../etc/cfg";

.map-contaier {
  display: flex;
  position: relative;
  width: 70vw;
  height: 100vh;

  @include put-line-separator(bottom);

  .map {
    width: 100%;
    font-size: 2rem;
  }
}

.logout {
  visibility: hidden;
}
