@import "../etc/cfg";
@import "../component/button";

nav {
  @include put-line-separator(bottom);

  #auth {
    display: flex;
    justify-content: flex-end;

    form {
      display: flex;
      justify-content: center;
    }

    form.login-form {
      display: none;

      &.active {
        display: flex;
      }
    }

    form.logout-form {
      display: none;
      
      &.active {
        display: flex;
      }
    }

    label {
      margin-right: 10px;
      align-self: center;
      font-weight: 700;
    }

    .login-id {
      margin-right: 10px;
    }

    form input[type="text"] {
      margin-right: 10px;
    }

    form input[type="password"] {
      margin-right: 10px;
    }

    p {
      margin-right: 10px;
      align-self: center;
      font-weight: 700;
    }

    .btn {
      margin-right: 10px;
    }
  }

  .btn {
    @include make-btn(100px, 35px);
    margin-right: 10px;
  }
}
