@import "../etc/cfg";
@import "../component/button";

nav {
  @include put-line-separator(bottom);

  .auth {
    display: flex;
    justify-content: flex-end;

    label {
      margin-right: 10px;
      align-self: center;
      font-weight: 700;
      font-size: 1.1rem;
    }

    .login-form {
      display: none;

      &.active {
        display: flex;
      }
    }

    .logout-form {
      display: none;

      &.active {
        display: flex;
      }
    }

    .logout-form .introduction {
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;

      & .introduction--username {
        font-size: 1.5rem;
        margin-left: 10px;
      }
    }
  }

  // form
  .auth {
    .check-auto-login {
      margin-right: 15px;
      margin-top: 10px;
    }

    .login-id {
      margin-right: 10px;
    }

    .login-password {
      margin-right: 10px;
    }

    // form input[type="text"] {
    //   margin-right: 10px;
    // }

    // form input[type="password"] {
    //   margin-right: 10px;
    // }
  }

  .btn {
    @include make-btn(100px, 35px);
    margin-right: 5px;
  }
}
