.curtain {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  height: 1024px;

  margin: 5px;
  box-sizing: border-box;

  background: rgb(236, 236, 236);
}

.map--curtain {
  font-size: 5rem;
}

.side-bar--curtain {
  font-size: 2rem;
}
