@import "./popup";
@import "../etc/cfg";

.signup-popup-bg {
  z-index: 100;

  position: fixed;
  top: 100%;

  width: 100%;
  height: 100%;

  text-align: center;

  background: transparent;

  transition: top 0.3s ease-in, background-color 0.7s ease-in;

  &.active {
    position: fixed;
    top: 0%;
    background: #2f2f2f5e;
  }

  .signup-popup-body {
    display: inline-block;
    position: absolute;

    top: 75%;
    left: 20%;

    width: 60%;
    height: 100%;

    background: #fff;
    box-shadow: 10px 10px 20px #555;
    font-size: 130%;
    font-weight: bold;

    h2 {
      display: inline-block;

      width: 100%;

      text-align: center;

      margin-top: 20px;
      padding-bottom: 10px;

      font-size: 60px;
      font-weight: 700;

      color: rgb(17, 0, 255);
      @include put-line-separator(bottom);
    }

    form {
      display: flex;

      justify-content: space-around;
      align-items: center;

      text-align: start;
      margin-top: 30px;
      padding-bottom: 20px;

      @include put-line-separator(bottom);
    }

    form .label-textfields {
      display: flex;
      flex-direction: column;

      height: 78px;

      p {
        width: 133px;
        margin-bottom: 5px;
      }
    }

    form .textfields {
      display: flex;
      flex-direction: column;

      width: 25%;
      height: 78px;

      input {
        margin-bottom: 5px;
      }
    }
  }

  .signup-popup-body .signup-popup-close {
    position: absolute;
    top: -1.2%;
    left: 97%;

    width: 30px;
    height: 30px;

    background: #fff;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 40px;

    font-size: 25px;
    font-weight: 700;
    text-align: center;

    margin: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .signup-popup-body .btn--sub {
    @include make-btn(120px, 35px);
    margin-top: 30px;
    display: inline-block;
  }

  .signup-popup-body .btn--cancel {
    @include make-btn(120px, 35px);
    display: inline-block;
  }
}
