@import "../etc/cfg";

.map-contaier {
  display: flex;
  position: relative;
  width: 70vw;
  @include put-line-separator(bottom);

  .map.curtain {
    visibility: hidden;
  }
}

#map {
  width: 70vw;
  height: 1024px;

  margin: 5px;
  box-sizing: border-box;

  text-indent: -9999;
}

.logout {
  visibility: hidden;
}
