@import "../etc/cfg";
@import "../component/button";

nav {
  @include put-line-separator(bottom);

  #auth {
    display: flex;
    justify-content: flex-end;

    form {
      display: flex;
      justify-content: center;
    }

    label {
      margin-right: 10px;
      align-self: center;
      font-weight: 700;
    }

    button.btn--signup {
      display: none;

      &.active {
        display: flex;
      }
    }

    #input-id {
      margin-right: 10px;
    }

    #input-pw {
      margin-right: 10px;
    }
  }

  div {
    display: flex;
    justify-content: center;

    p {
      margin-right: 10px;
      align-self: center;
      font-weight: 700;
    }

    .btn {
      margin-right: 10px;
    }
  }

  .btn {
    @include make-btn(100px, 35px);
    margin-right: 10px;
  }
}
