@import "../etc/cfg";

.side-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  height: 1024px;

  @include put-line-separator(left);
  @include put-line-separator(bottom);

  .side-bar {
    margin: 5px;
    box-sizing: border-box;

    background: rgb(236, 236, 236);
    font-size: 2rem;

    &.curtain {
      transition: all 1.0s ease;
      color: black;
    }
  }
}
